.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 .67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 50%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.65em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

img {
  max-width: 100%;
}

header {
  z-index: 101;
}

footer {
  z-index: 102;
}

.fixons {
  z-index: 103;
}

.flex-ed, .col-flex-ed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.star:before {
  font-size: 28px;
  font-family: 'fontello';
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: '\e80f \e80f \e80f \e80f \e80f';
  color: #FEBB21;
  letter-spacing: .3em;
}

@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}

@media (max-width: 1030px) {
  #fixed-tabs {
    position: fixed;
    right: 0;
    text-align: center;
    line-height: 1;
    font-size: 0;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #fixed-tabs a {
    padding: 13px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 13px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    background-color: #2c9fb2;
    color: #fff;
    text-transform: uppercase;
  }
  #fixed-tabs a span {
    display: inline-block;
    vertical-align: middle;
  }
  #fixed-tabs a span:last-child {
    margin-left: 7px;
  }
  #fixed-tabs a:nth-of-type(2) {
    background-color: #cc9800;
  }
  #fixed-tabs i {
    font-size: 16px;
    margin-right: 5px;
  }
  #fixed-tabs i, #fixed-tabs i:before {
    display: inline-block;
    margin: 0 auto;
  }
  footer {
    margin-bottom: 42px !important;
  }
}

@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
  #fixed-tabs a span:last-child {
    margin-left: 0;
  }
}

body {
  position: relative;
  background-color: #e6fcff;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

p {
  font: 400 18px/28px "DM Sans", sans-serif;
  color: #1d2122;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif;
}

.mobile-banner-reviews {
  display: none;
}

h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  font: 700 70px/1.1 "DM Sans", sans-serif;
  letter-spacing: -0.02em;
}

h2 {
  color: #67686c;
  text-align: left;
  font: 700 50px/1.1 "DM Sans", sans-serif;
}

h2 span {
  display: block;
  font-size: 26px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

h3 {
  font-size: 32px;
  line-height: 1.41;
}

.h3 {
  color: #1d2122;
  font: 500 22px/1 "DM Sans", sans-serif;
  letter-spacing: -0.02em;
}

.h4 {
  letter-spacing: .05em;
  color: #FFBE00;
  font: 700 16px/1.1 "DM Sans", sans-serif;
  text-transform: uppercase;
  margin: 10px auto;
}

header {
  position: relative;
  padding: 5px 10px;
  background-color: #fff;
}

header .flex-ed {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1080px;
  margin: auto;
  width: 100%;
  padding-bottom: 10px;
}

header .btn-alt {
  margin: 0;
}

.phone {
  color: #FFBE00;
  font-size: 32px;
  line-height: 1.1;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.phone span {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
}

.phone:hover {
  color: #41BCD0;
}

.address {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

.address:hover {
  color: #FFBE00;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  -webkit-animation: slideIn .8s both;
          animation: slideIn .8s both;
  -webkit-box-shadow: 1.6px 2.5px 7px rgba(6, 7, 7, 0.35);
          box-shadow: 1.6px 2.5px 7px rgba(6, 7, 7, 0.35);
}

.fix-nav header .logo img {
  max-height: 70px;
}

.btn, .btn-alt {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 3px auto;
  padding: 10px 25px;
  color: #1d2122;
  border-radius: 20px;
  font: 500 14px/1 "Manrope", sans-serif;
  -webkit-transition: border .3s;
  transition: border .3s;
  background-color: #FFBE00;
  border-radius: 8px;
  -webkit-transition: .3s all;
  transition: .3s all;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn span, .btn-alt span {
  display: block;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.btn:hover, .btn:hover, .btn-alt:hover, .btn-alt:hover {
  background-color: #41BCD0;
  border-color: #41BCD0;
  color: #1d2122;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px auto;
  padding: 0 20px;
  overflow: hidden;
}

.split .flex-ed {
  max-width: 1100px;
  margin: 50px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #fff;
  -webkit-box-shadow: 5px 4px 13px 5px #01010129;
          box-shadow: 5px 4px 13px 5px #01010129;
}

.split .flex-ed:before, .split .flex-ed:after {
  content: '';
  position: absolute;
  left: -40px;
  top: -80px;
  z-index: -1;
  background-color: #41BCD0;
  width: 420px;
  height: 270px;
}

.split .flex-ed:after {
  left: auto;
  top: auto;
  bottom: -80px;
  right: -40px;
}

.split article {
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  text-align: left;
  padding: 40px 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split h2 {
  margin: 5px auto 25px;
}

.split.even figure {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 40px;
}

.split ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.split ul li {
  font-size: 24px;
  position: relative;
  padding-left: 35px;
  margin: 30px auto 30px;
}

.split ul li:before {
  content: '\e949';
  font-family: fontello;
  color: #41BCD0;
  position: absolute;
  left: 0;
  top: 5px;
}

.split.alt figure {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.safe-bar {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  background-color: #f7c700;
  z-index: 10;
  color: #000;
  font: 700 21px/1.2 "DM Sans", sans-serif;
  padding: 8px 10px;
  text-align: center;
  letter-spacing: 0.47px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.safe-bar span {
  margin: 0 10px;
}

#hero {
  background: #16191a url("assets/images/new-np-banner-bkg.jpg") center;
  overflow: hidden;
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

#hero .flex-ed {
  max-width: 1600px;
  margin: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#hero article {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  z-index: 3;
}

#hero article img {
  margin-top: 40px;
  margin-bottom: 50px;
}

#hero article small {
  color: #fff;
  font-size: 9px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
}

#hero article:before {
  content: '';
  position: absolute;
  left: -30px;
  right: -1000px;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(91deg, rgba(29, 33, 34, 0.88) 0%, #1d2122 5%);
  z-index: -1;
  -webkit-transform: skew(-6deg);
          transform: skew(-6deg);
}

#hero h1 {
  margin-top: 60px;
}

#hero figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

#hero figure img {
  display: none;
}

#hero .caption {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  background: #212121;
  z-index: 5;
  text-transform: uppercase;
}

#hero .caption a {
  padding: 8px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .15em;
}

#hero .caption a:hover {
  color: #FFBE00;
}

#hero .caption span {
  color: #FFBE00;
  margin: 0 10px;
}

.count {
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin: 50px auto;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.2);
}

.count .h2 {
  text-align: center;
  color: #fff;
  font: 500 59px/1.3 "Manrope", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 40px;
}

.count article {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0 8px 8px 0;
}

.count ul {
  font-size: 25px;
  list-style-type: none;
  text-align: left;
  line-height: 1.2;
  margin: 10px auto;
  padding: 40px 20px;
  display: table;
}

.count ul li {
  position: relative;
  padding: 10px 0 10px 65px;
}

.count ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 44px;
  height: 41px;
  background: url("assets/images/new-np-checks.png") center no-repeat;
  background-size: contain;
}

.count.no-insurance .h2 {
  font-size: 42px;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.count.no-insurance .extra-space {
  display: inline-block;
  padding: 5px;
}

.count.no-insurance article {
  border-radius: 8px 0 0 8px;
}

#banner {
  overflow: hidden;
}

#banner h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 10px 20px 25px;
  margin: 10px auto -15px;
  max-width: 1160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #41BCD0;
  font-size: 45px;
  font-weight: 500;
}

#banner h2:before, #banner h2:after {
  content: '';
  height: 2px;
  background-color: #41BCD0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5px;
}

#banner h2:before {
  margin-right: 20px;
}

#banner h2:after {
  margin-left: 20px;
}

#banner .contain {
  padding: 50px 20px 30px;
}

#banner .flex-ed {
  max-width: 1320px;
  margin: 20px auto 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.offer {
  display: block;
  margin: 20px 10px;
  position: relative;
  text-align: center;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(33, 33, 33, 0.15));
          filter: drop-shadow(0px 3px 6px rgba(33, 33, 33, 0.15));
  -webkit-box-flex: 0;
      -ms-flex: 0 350px;
          flex: 0 350px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.offer article {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 0 auto;
  padding: 50px 20px;
  position: relative;
  z-index: 3;
}

.offer > span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.offer .h1 {
  color: #973e32;
  font: 600 60px/1.1 "Manrope", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
}

.offer .h1 sup small {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-transform: none;
  text-align: left;
}

.offer p {
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto 15px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.offer img {
  margin: auto auto 0;
}

.offer:last-of-type article, .offer:nth-of-type(3) article {
  margin: 0  auto 0 0;
}

.offer:last-of-type > span, .offer:nth-of-type(3) > span {
  margin: 0 auto 0 0;
}

.offer .h2 {
  font: 700 25px/1.1 "DM Sans", sans-serif;
  color: #973e32;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}

.offer:last-of-type article {
  margin-bottom: 10px;
}

.offer:nth-of-type(2) article {
  padding-top: 70px;
}

.offer .offer-note {
  font-size: 7px;
  letter-spacing: -0.17px;
  line-height: 1.14;
  padding-left: 40px;
  margin-top: 55px;
}

#reviews {
  background-color: #67686c;
  background: linear-gradient(91deg, #66676b 0%, #a3a5ac 100%);
  padding: 80px 0;
}

#review-container {
  position: relative;
  border-radius: 8px;
  background: #1d2122;
  -webkit-box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.15);
          box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.15);
  max-width: 1120px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.over {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #1d2122;
  font: 700 18px/0.9 "DM Sans", sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 3px 13px rgba(3, 47, 42, 0.2);
          box-shadow: 2px 3px 13px rgba(3, 47, 42, 0.2);
  background-color: #FFBE00;
  text-align: center;
  padding: 15px 10px 10px;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -20px;
  left: -50px;
}

.over span {
  display: block;
  font-size: 28px;
}

.over small {
  display: block;
  font-size: 12px;
  letter-spacing: -.4px;
  margin-bottom: 5px;
}

#google {
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 225px;
          flex: 0 1 225px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px 0 0 8px;
}

#google img {
  padding: 15px 0;
}

#google > div {
  margin-top: 25px;
  padding: 5px 25px;
}

#google p {
  color: #fff;
  font-size: 20px;
  line-height: 1.25;
  display: block;
  margin-top: 15px;
  text-shadow: 1.2px 2.8px 3px rgba(7, 8, 8, 0.11);
  font-size: 15px;
  text-transform: uppercase;
  color: #1d2122;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.comment {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 900px;
          flex: 1 1 900px;
  padding: 40px 30px 50px;
  text-align: left;
  margin: auto;
}

.comment p {
  font: 400 20px/32px "Manrope", sans-serif;
  margin-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  letter-spacing: 0.05em;
}

.comment .caption2 {
  float: right;
  font: 600 normal 16px/1 "DM Sans", sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 5px 0 10px;
}

.insurance {
  text-align: left;
  padding: 20px 0 20px;
  position: relative;
  overflow: hidden;
}

.insurance .container {
  max-width: 1140px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.insurance h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 10px 20px 15px;
  margin: 10px auto -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insurance h2:before, .insurance h2:after {
  content: '';
  height: 3px;
  background-color: #5a5b5e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.insurance h2:before {
  margin-right: 20px;
}

.insurance h2:after {
  margin-left: 20px;
}

.insurance .flex-ed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.insurance .flex-ed span {
  padding: 10px 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
}

.insurance p {
  line-height: 28px;
  max-width: 1100px;
  margin: 10px auto;
  padding: 10px;
}

.insurance .disclaim {
  color: #898989;
  font: 400 14px/1 "DM Sans", sans-serif;
  margin-top: 20px;
  text-align: center;
}

footer {
  overflow: hidden;
  padding: 40px 0 0;
}

footer h2 {
  font: 700 73px/1 "DM Sans", sans-serif;
  color: #fff;
  margin: 0 auto 30px;
}

footer .phy {
  color: #fff;
  font-size: 22px;
  display: block;
  position: relative;
  padding-left: 40px;
}

footer .phy:before {
  position: absolute;
  left: 0;
  top: 8px;
  font-family: fontello;
  content: '\e948';
  color: #FFBE00;
  font-size: 30px;
}

footer .phy:hover {
  color: #FFBE00;
}

footer .pho {
  color: #fff;
  display: block;
  position: relative;
  font: 700 40px/1.1 "Manrope", sans-serif;
  margin: 20px 0;
  padding-left: 40px;
}

footer .pho:before {
  position: absolute;
  left: 4px;
  top: 8px;
  font-family: fontello;
  content: '\e920';
  color: #FFBE00;
  font-size: 30px;
}

footer .pho:hover {
  color: #FFBE00;
}

footer .split {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  padding: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  margin-bottom: 70px;
}

footer .split article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 530px;
          flex: 0 1 530px;
  background-color: #1d2122;
  padding: 85px 60px;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 8px;
}

footer .split figure p {
  text-align: center;
}

footer figure {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 650px;
          flex: 1 1 650px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.hours {
  display: table;
  margin: 0;
  text-align: left !important;
  position: relative;
  padding-left: 40px;
}

.hours:before {
  position: absolute;
  left: 0;
  top: 25px;
  font-family: fontello;
  content: '\e839';
  color: #FFBE00;
  font-size: 30px;
}

.hours label {
  width: 131px;
  display: inline-block;
  font-weight: 600;
}

.hours p {
  font-size: 20px;
  color: #fff;
  line-height: 34px;
  font-family: "Manrope", sans-serif;
}

.frame {
  overflow: hidden;
  display: table;
  width: 100%;
  margin: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.frame iframe {
  height: 615px;
  display: block;
  margin: auto;
  width: 100%;
}

.copy {
  margin-top: 20px;
  padding: 40px 10px 20px;
  background-color: #68696d;
  margin: auto;
  text-transform: uppercase;
  font: 400 12px/1.4 "DM Sans", sans-serif;
  color: #fff;
  letter-spacing: 0.2em;
}

.copy a, .copy p {
  font: 400 11px/1.4 "Manrope", sans-serif;
  color: #fff;
  letter-spacing: 0.2em;
}

.copy p {
  margin: 20px auto;
  max-width: 1090px;
  letter-spacing: 0.2em;
}

.copy a:hover {
  color: #FFBE00;
  text-decoration: underline;
}

.copy span {
  margin: 0 2px;
}

::-webkit-input-placeholder {
  color: #1d2122;
}

:-ms-input-placeholder {
  color: #1d2122;
}

::-ms-input-placeholder {
  color: #1d2122;
}

::placeholder {
  color: #1d2122;
}

#lp-appointment-form {
  max-width: 850px;
  padding: 10px;
  margin: 20px auto;
  position: relative;
  text-align: center;
}

#lp-appointment-form h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 10px auto 40px;
  color: #1d2122;
}

#lp-appointment-form > p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

#lp-appointment-form .simple {
  margin: 40px auto 20px;
  max-width: 550px;
  padding-right: 3px;
}

#lp-appointment-form label {
  display: none;
}

#lp-appointment-form input, #lp-appointment-form textarea {
  width: 93%;
  display: table;
  margin: 10px auto;
  background-color: #d3d3d3;
  color: #1d2122;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#lp-appointment-form input:focus, #lp-appointment-form textarea:focus {
  background-color: #e3e3e3;
}

#lp-appointment-form textarea {
  height: 200px;
  margin-bottom: 30px;
}

#lp-appointment-form textarea:focus, #lp-appointment-form input:focus, #lp-appointment-form button:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: #41BCD0;
}

#lp-appointment-form .submitBtn {
  text-align: center;
  width: 200px;
  margin: auto;
  display: table;
}

@media (max-width: 1520px) {
  #hero {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  #banner .flex-ed {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 700px;
  }
  #banner .flex-ed .offer {
    margin: 30px;
  }
  .offer:nth-of-type(2) article {
    padding-bottom: 0;
  }
  #banner .flex-ed .offer:last-of-type {
    margin-top: 20px;
  }
  #hero {
    background-size: cover;
  }
}

@media (max-width: 1080px) {
  .address {
    font-size: 16px;
  }
  .phone {
    font-size: 32px;
  }
  .over {
    top: -60px;
    left: 5px;
  }
  h1 {
    font-size: 60px;
  }
  #hero article img {
    margin: 30px auto 10px;
  }
  .split article {
    padding: 20px;
  }
  .split h2 {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  header .address {
    display: none;
  }
  header .btn-alt {
    margin: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  header .flex-ed {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .safe-bar {
    font-size: 19px;
    padding: 7px 10px;
  }
  #hero {
    background-image: none;
  }
  #hero .flex-ed {
    display: block;
  }
  #hero h1 {
    color: #fff;
    margin-top: 20px;
  }
  #hero article {
    padding: 20px 20px;
  }
  #hero article div {
    margin: 25px auto;
  }
  #hero article:before {
    display: none;
  }
  #hero figure {
    background-color: #303539;
  }
  #hero figure img {
    display: block;
    width: 100%;
  }
  #banner .flex-ed {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 800px;
  }
  .phone {
    font-size: 24px;
  }
  .count {
    display: block;
  }
  .count .h2 {
    padding: 20px;
  }
  .count .h2 br {
    display: none;
  }
  .count article {
    border-radius: 0 0 8px 8px;
    padding: 20px;
  }
  .count.no-insurance article {
    border-radius: 8px 8px 0 0;
  }
  #banner h2 {
    font-size: 36px;
    padding: 0 10px;
  }
  .split {
    margin: 50px auto;
    display: block;
  }
  .split .flex-ed {
    display: block;
  }
  .split figure img {
    width: 100%;
  }
  .split h2 {
    text-align: center;
  }
  .split ul {
    display: table;
    margin: auto;
  }
  #reviews {
    padding: 0;
    margin-top: 30px;
  }
  #review-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 0;
  }
  .comment p {
    text-align: center;
  }
  .over {
    top: -30px;
  }
  #google {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    border-radius: 0;
  }
  #google p, #google p img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 10px;
  }
  #google > div {
    margin-top: 10px;
  }
  footer {
    padding: 0;
  }
  footer .split {
    margin-bottom: 0;
  }
  footer .split article {
    padding: 50px 10px 10px;
    border-radius: 0;
  }
  footer .split p {
    text-align: left;
  }
  footer .phy, footer .pho, footer .hours {
    display: table;
    margin: 20px auto;
  }
  footer .pho {
    margin-top: 40px;
  }
  .frame iframe {
    height: 400px;
  }
}

@media (max-width: 790px) {
  header {
    padding: 0;
  }
  header .flex-ed {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
  }
  header .btn-alt, header address {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  header .logo {
    width: 100%;
    margin: 10px;
    max-width: none;
  }
  header .btn-alt {
    color: #000;
    color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
    padding: 10px 3px;
  }
  header .btn-alt:hover {
    color: #fff;
    background-color: #3d3d3d;
  }
  header .btn-alt:after {
    display: none;
  }
  header .phone {
    font-size: 18px;
    color: #fff;
    background-color: #41BCD0;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    padding: 8px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 30px;
    color: #fff;
  }
  header .phone span {
    color: #fff;
  }
  header .phone:hover {
    background-color: #3d3d3d;
    color: #fff;
  }
  .safe-bar span:last-of-type {
    display: block;
    font-size: 0;
  }
  .mobile-banner-reviews {
    display: block;
    background-color: #f3f3f3;
    text-transform: uppercase;
  }
  .mobile-banner-reviews img, .mobile-banner-reviews p {
    display: inline-block;
    vertical-align: middle;
  }
  .mobile-banner-reviews p {
    padding: 0 50px;
    font-weight: 700;
  }
  #banner .contain {
    padding: 30px 10px;
  }
  .split p, .comment {
    text-align: center;
  }
  footer h2 {
    font-size: 42px;
  }
  footer .split > div {
    margin-top: 0;
  }
  footer article {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  #banner .contain {
    padding-top: 20px;
  }
  #google > div {
    margin-top: 20px;
  }
  #google p {
    margin-bottom: 0;
  }
  #reviews {
    padding: 0;
  }
  .comment .caption2 {
    margin-top: 0;
  }
  #lp-appointment-form h1 {
    font-size: 36px;
  }
  #banner .flex-ed {
    margin-bottom: 80px;
  }
  .insurance {
    padding: 0;
  }
}

@media (max-width: 590px) {
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 36px;
    margin-top: 10px;
  }
  .safe-bar {
    letter-spacing: 0;
    font-size: 16px;
  }
  .safe-bar span {
    margin: 0;
  }
  .split {
    padding: 0;
    margin: 20px auto;
  }
  .split .flex-ed:before {
    right: 40px;
    width: 100%;
    top: -20px;
  }
  .split .flex-ed:after {
    right: 0;
    width: 100%;
    bottom: -20px;
    left: 40px;
  }
  #reviews {
    margin-top: 50px;
  }
  footer h2 {
    font-size: 40px;
    margin-top: 0;
    padding: 0 10px;
  }
  footer article {
    padding-top: 20px;
  }
  footer article p {
    font-size: 32px;
    margin-top: 5px;
  }
  footer figure {
    margin-top: -10px;
  }
  .frame {
    display: none;
  }
  .copy {
    padding: 30px 10px 20px;
  }
  .caption span {
    display: block;
    font-size: 0;
  }
  #hero .caption {
    line-height: .7;
    bottom: 10px;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  h2, footer h2 {
    font-size: 36px;
  }
  header .phone {
    font-size: 20px;
  }
  .btn-alt span {
    font-size: 24px;
  }
  .over {
    top: -50px;
  }
  .offer {
    padding: 0;
  }
  .count .h2 {
    font-size: 12vw;
  }
  .count ul {
    padding: 0;
  }
  .copy span:first-of-type, .copy span:last-of-type {
    display: block;
    font-size: 0;
  }
}

@media (max-width: 400px) {
  header .btn-alt {
    font-size: 14px;
  }
  .mobile-banner-reviews p {
    padding: 0 30px;
    font-size: 16px;
  }
  .safe-bar {
    font-size: 15px;
  }
  .offer > span {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  #hero .caption {
    max-width: 90%;
    padding: 10px 5px;
    bottom: 30px;
  }
  #hero .caption span {
    display: none;
  }
  #hero .caption a {
    display: block;
  }
  .caption a {
    font-size: 14px;
  }
  .count ul {
    font-size: 20px;
  }
  .comment p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .comment .caption2 {
    font-size: 15px;
  }
  .offer .h1 {
    font-size: 45px;
  }
  .offer .h3 {
    font-size: 18px;
  }
  .split ul li {
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
  }
  footer .split h2 {
    font-size: 12vw;
    padding: 0;
  }
  #google p {
    font-size: 14px;
  }
  footer .pho {
    font-size: 30px;
    margin-top: 20px;
  }
  footer .pho:before {
    top: 0;
  }
  .hours:before {
    top: 10px;
  }
  footer .split p {
    font-size: 16px;
  }
  .insurance h2 {
    margin: 10px 0 -15px;
    padding: 10px 0 15px;
  }
  .insurance .flex-ed div {
    margin: 15px 18px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .insurance .flex-ed {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=er-np-styles.css.map */