.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 .67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 50%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.45em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

img {
  max-width: 100%;
}

header {
  z-index: 101;
}

footer {
  z-index: 102;
}

.fixons {
  z-index: 103;
}

.flex-ed, .col-flex-ed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

star:before {
  font-size: 1.3em;
  font-family: 'fontello';
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: '\e80f \e80f \e80f \e80f \e80f';
  color: #febb21;
  text-shadow: 1.2px 2.8px 3px rgba(7, 8, 8, 0.11);
}

@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}

@media (max-width: 1030px) {
  #fixed-tabs {
    position: fixed;
    right: 0;
    text-align: center;
    line-height: 1;
    font-size: 0;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #fixed-tabs a {
    padding: 13px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 13px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    background-color: #141e35;
    color: #fff;
    text-transform: uppercase;
  }
  #fixed-tabs a span {
    display: inline-block;
    vertical-align: middle;
  }
  #fixed-tabs a span:last-child {
    margin-left: 7px;
  }
  #fixed-tabs a:nth-of-type(2) {
    background-color: #498b3a;
  }
  #fixed-tabs i {
    font-size: 16px;
    margin-right: 5px;
  }
  #fixed-tabs i, #fixed-tabs i:before {
    display: inline-block;
    margin: 0 auto;
  }
  footer {
    margin-bottom: 42px !important;
  }
}

@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
  #fixed-tabs a span:last-child {
    margin-left: 0;
  }
}

body {
  position: relative;
  background-color: #f8f8f8;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

p {
  font: 400 18px/30px "DM Sans", sans-serif;
  color: #231f20;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

h1, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: #22335a;
}

.mobile-banner-reviews {
  display: none;
}

h1, .personalized h2 {
  margin: 0;
  text-align: center;
  color: #fff;
  font: 400 44px/1.1 "DM Sans", sans-serif;
}

h1 span, h1 h2 span, .personalized h2 span, .personalized h2 h2 span {
  font-family: "DM Sans", sans-serif;
  font-size: 26px;
  font-weight: 300;
  display: block;
}

h3 {
  font-size: 32px;
  line-height: 1.41;
}

header {
  position: relative;
  padding: 5px 10px;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.1));
}

header .flex-ed {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1080px;
  margin: auto;
  width: 100%;
  padding-bottom: 10px;
  max-width: 1200px;
}

header .btn-alt {
  margin: 0;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 0;
}

header .btn-alt span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

header address {
  text-align: right;
  font-weight: 400;
}

header address a {
  display: block;
  text-align: right;
}

.header-info {
  display: contents;
}

.address {
  color: #231f20;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
}

.phone {
  color: #5caf49;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 900;
}

.phone small {
  color: #231f20;
  font-size: 16px;
  display: block;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}

.address:hover, .phone:hover {
  color: #22335a;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  -webkit-animation: slideIn .8s both;
          animation: slideIn .8s both;
  -webkit-box-shadow: 1.6px 2.5px 7px rgba(6, 7, 7, 0.35);
          box-shadow: 1.6px 2.5px 7px rgba(6, 7, 7, 0.35);
}

.btn, .btn-alt {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 3px auto;
  padding: 12px 30px;
  color: #fff;
  font: 500 18px/1 "Work Sans", sans-serif;
  -webkit-transition: border .3s;
  transition: border .3s;
  background-color: #5caf49;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.btn:hover, .btn:hover, .btn-alt:hover, .btn-alt:hover {
  background-color: #22335a;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split article {
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
}

.split figure img {
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);
          box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);
}

.split.even figure {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 40px;
}

#banner {
  background: #f2f2f2;
  background: url("assets/images/new-np-banner-bkg.jpg") #ECF4FC;
  background-size: contain;
  background-repeat: no-repeat;
}

#banner .flex-ed {
  max-width: 1200px;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 10px 0;
}

#banner figure {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  position: relative;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

#banner figure img {
  display: none;
}

#banner figure a {
  padding: 8px 15px;
  color: #000;
  font-size: 14px;
  z-index: 1;
  font-weight: 700;
}

#banner figure a:hover {
  color: #0081da;
}

#banner figure a:nth-of-type(2) {
  left: auto;
  right: 0;
}

#banner .caption {
  text-align: center;
  position: absolute;
  bottom: 10px;
  display: table;
  left: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .caption a {
  background-color: #000100;
  color: white;
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

#banner article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 590px;
          flex: 0 1 590px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 18px;
  color: #35426c;
  font-weight: 400;
}

#banner h2 {
  text-transform: none;
  font-family: "DM Sans", sans-serif;
  color: #22335a;
  font-weight: 700;
  font-size: 71px;
  line-height: 66px;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
  margin: 0;
}

#stamp {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

#appointments {
  background: #e9ffe6;
  border: 4px solid #fff;
  padding: 20px;
}

#appointments h2 {
  font-weight: 700;
  margin: 5px auto;
}

#appointments a {
  font-size: 35px;
  letter-spacing: 0.09em;
  color: #5caf49;
  font-weight: bold;
}

#appointments a:hover {
  color: #22335a;
}

.center {
  padding: 40px 20px 60px;
  text-align: center;
}

.center .contain {
  max-width: 1000px;
  margin: 20px auto;
}

.bg {
  background-color: #22335a;
}

.bg h2 {
  color: #ffffff;
}

.bg p {
  color: #ffffff;
}

.bg h3 {
  color: #d1d0e8;
}

#solutions {
  background-color: #ECF4FC;
}

#solutions .flex-ed {
  max-width: 1280px;
  margin: 40px auto 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#solutions .flex-ed:hover a:not(:hover) {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  opacity: .8;
}

#solutions .flex-ed div {
  -webkit-transition: .3s all;
  transition: .3s all;
  padding: 0 5px;
  margin: 10px auto 20px;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 210px;
          flex: 0 1 210px;
}

#solutions .flex-ed div img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

#solutions .flex-ed h3 {
  font-size: 26px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #5caf49;
  letter-spacing: -0.02em;
}

#reviews {
  position: relative;
  padding: 70px 10px;
  text-align: center;
  background-color: #35426c;
}

#reviews h2 {
  font-weight: 700;
  color: #fff;
}

#reviews .btn {
  color: white;
  background-color: #5caf49;
  padding: 12px 50px;
}

#reviews .btn:hover {
  background-color: white;
  color: black;
}

#rotate {
  max-width: 1250px;
  margin: 50px auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#rotate .review {
  background-color: #ecf4fc;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 10px;
  position: relative;
  max-width: 380px;
}

#rotate .review div {
  min-height: 530px;
  margin: auto;
  border: 2px solid #5e8bf1;
  border-radius: 5px;
  padding: 60px 10px;
}

#rotate .review:after {
  display: block;
  position: absolute;
  border: 2px solid #5e8bf1;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  bottom: 0;
}

#rotate span {
  display: table;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  line-height: 60px;
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 12;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.23);
}

#rotate span img {
  vertical-align: middle;
  display: inline;
}

#rotate p {
  color: #231f20;
  font: 400 18px/30px "DM Sans", sans-serif;
  text-align: center;
  max-width: 95%;
  margin: 10px auto 50px;
}

#rotate author {
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #231f20;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1.8px;
  font-weight: 600;
  margin-top: 10px;
}

#rotate star {
  font-size: 17px;
  letter-spacing: 7px;
  margin: 6px;
}

#appts {
  position: relative;
  overflow: hidden;
}

#appts .flex-ed {
  max-width: 1200px;
  margin: auto;
  padding: 80px 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#appts article {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 540px;
  flex: 0 1 540px;
  text-align: left;
  position: relative;
  padding: 0 20px 20px;
}

#appts article h2 {
  margin-top: 0;
}

#appts figure {
  margin: 0 -150px 0 0;
}

#financing {
  background-color: #ecf4fc;
}

#financing h2 {
  line-height: 1;
}

#financing h2 small {
  font-size: 30px;
}

#financing p {
  font-weight: 500;
  padding: 5px;
}

/* hours + social */
.hours {
  display: block;
  text-align: left;
  max-width: 280px;
  line-height: 1.8;
}

.hours b, .hours label {
  display: inline-block;
  min-width: 100px;
  font-weight: 600;
}

.page-split .hours {
  max-width: 300px;
}

.page-split .hours b {
  min-width: 120px;
}

.social {
  margin: 0px;
  display: block;
}

.social a {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.social a i:before {
  font-size: 20px;
  width: 46px;
  background-color: white;
  line-height: 1;
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 10px;
  border-radius: 50%;
}

.social a:hover {
  text-decoration: none;
}

.social a i.icon-facebook:before {
  color: #4d70a8;
}

.social a i.icon-gplus:before {
  color: #dc4e41;
}

.social a i.icon-youtube-play:before {
  color: #d00;
}

.social a i.icon-instagramm:before {
  color: #833ab4;
}

.social a:hover i:before {
  background-color: #69bf66;
  color: white;
}

/* FOOTER */
footer {
  background: #22335a;
  line-height: 1;
  position: relative;
  color: white;
}

footer .fo-title {
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

footer .logo {
  display: block;
}

footer .logo img {
  display: block;
  margin: 0 auto;
}

footer #fo-contents {
  max-width: 1200px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer #fo-contents a:hover {
  text-decoration: none;
}

footer #fo-info {
  max-width: 710px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #fo-info .phone {
  font-size: 25px;
  display: block;
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 600;
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
}

footer #fo-info .phone i:before {
  font-size: 25px;
}

footer #fo-find {
  text-align: left;
}

footer #fo-info .phone:hover {
  color: #69bf66;
}

footer #fo-info .email {
  position: relative;
  padding-left: 30px;
  color: white;
}

footer #fo-info .email:hover {
  color: #69bf66;
}

footer #fo-info address {
  display: block;
  line-height: 1.4;
  margin-bottom: 10px;
}

footer #fo-info address a {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding-left: 30px;
}

footer #fo-info address a span {
  display: block;
}

footer #fo-info address a:hover {
  color: #69bf66;
}

footer #fo-info #fo-find i {
  color: #69bf66;
  position: absolute;
  left: 0;
  top: 0;
}

footer #fo-info #fo-find i:before {
  width: 0px;
  margin: 0px;
}

footer #fo-info .hours {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

footer #fo-info .hours .fo-title {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 18px;
}

footer #fo-info .social {
  text-align: center;
}

footer #fo-info .social a {
  display: block;
  margin: 0 auto 20px;
}

footer #fo-info .social i:before {
  border: 2px solid #69bf66;
  margin: 0 auto;
  font-size: 22px;
}

footer #fo-contact {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

footer #fo-contact .h2 {
  color: white;
  font-size: 42px;
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  text-align: left;
}

footer #fo-contact .h2 small {
  display: block;
  font: 500 18px "Work Sans", sans-serif, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
}

footer #fo-contact .forms {
  max-width: 710px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

footer #fo-contact .forms input, footer #fo-contact .forms textarea {
  background: #35426c;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

footer #fo-contact .forms textarea {
  height: 106px;
  margin-bottom: 7px;
}

footer #fo-contact .forms .btn {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  height: 47px;
  letter-spacing: 0.05em;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #69bf66;
  color: #231f20;
}

footer #fo-contact .forms .btn:hover {
  background-color: #22335a;
  color: white;
}

footer #copy {
  padding: 60px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  opacity: .5;
  letter-spacing: .1em;
}

footer #copy a {
  color: #69bf66;
}

footer #copy a:hover {
  text-decoration: none;
  color: white;
}

/* FORMS RESET */
label {
  display: block;
}

label.error {
  color: red;
}

input, textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 15px 10px;
  margin-bottom: 10px;
  color: inherit;
  line-height: 1em;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  width: auto;
  margin-left: 15px;
}

select {
  margin-bottom: 10px;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* FORMS */
main .forms label {
  margin-bottom: .5em;
}

main .forms {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

main .forms input, main .forms textarea {
  background: #35426c;
  color: white;
}

.forms .inline-box > div {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ecf4fc;
}

.forms .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.forms .inline > * {
  width: calc(100%/2 - 5px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.forms .inline-2 > * {
  width: calc(100%/2 - 5px);
}

.forms span {
  display: block;
}

.forms .full {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
}

.forms .inline .btn {
  min-width: 100%;
}

.forms input:focus, .forms textarea:focus {
  background: rgba(0, 0, 0, 0.8) !important;
  color: #fff;
}

footer .forms ::-webkit-input-placeholder {
  color: #fff;
}

footer .forms :-ms-input-placeholder {
  color: #fff;
}

footer .forms ::-ms-input-placeholder {
  color: #fff;
}

footer .forms ::placeholder {
  color: #fff;
}

@media screen and (max-width: 759px) {
  article .forms .input {
    display: block;
    width: 100%;
  }
  article .forms .inline {
    border: none;
    min-height: 0px;
  }
  .forms .inline > * {
    width: 100%;
  }
  .forms .wide {
    max-width: 100%;
  }
}

figcaption {
  text-align: center;
}

figcaption p {
  font: 300 20px/1 "DM Sans", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.7);
  color: #fff;
}

figcaption strong {
  margin-top: 0;
  font-weight: 700;
  display: block;
}

figcaption:hover p {
  color: #5caf49;
}

::-webkit-input-placeholder {
  color: #231f20;
}

:-ms-input-placeholder {
  color: #231f20;
}

::-ms-input-placeholder {
  color: #231f20;
}

::placeholder {
  color: #231f20;
}

#lp-appointment-form {
  max-width: 850px;
  padding: 10px;
  margin: 20px auto;
  position: relative;
  text-align: center;
}

#lp-appointment-form h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 10px auto 40px;
  color: #231f20;
}

#lp-appointment-form > p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

#lp-appointment-form .simple {
  margin: 40px auto 20px;
  max-width: 550px;
  padding-right: 3px;
}

#lp-appointment-form label {
  display: none;
}

#lp-appointment-form input, #lp-appointment-form textarea {
  width: 93%;
  display: table;
  margin: 10px auto;
  background-color: #d3d3d3;
  color: #231f20;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#lp-appointment-form input:focus, #lp-appointment-form textarea:focus {
  background-color: #e3e3e3;
}

#lp-appointment-form textarea {
  height: 200px;
  margin-bottom: 30px;
}

#lp-appointment-form textarea:focus, #lp-appointment-form input:focus, #lp-appointment-form button:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: #22335a;
}

#lp-appointment-form .submitBtn {
  text-align: center;
  width: 200px;
  margin: auto;
  display: table;
}

@media (max-width: 1490px) {
  #banner {
    background-size: cover;
  }
}

@media (max-width: 1260px) {
  #solutions .flex-ed div {
    margin: 5px auto;
  }
}

@media (max-width: 1160px) {
  h2 {
    font-size: 45px;
  }
  .address {
    font-size: 16px;
  }
  .phone {
    font-size: 32px;
  }
  .border-box:before, .border-box:after {
    width: 20px;
  }
  .personalized:last-of-type .border-box:before, .personalized:last-of-type .border-box:after {
    width: 50px;
  }
  #banner article {
    margin-left: 0;
  }
  #banner #stamp img {
    width: 200px;
  }
}

@media (max-width: 1030px) {
  #rotate {
    display: block;
  }
  #rotate .review {
    margin: 30px auto;
  }
  .header-info {
    display: block;
    margin-bottom: 10px;
  }
  .header-info a {
    margin: 10px;
  }
  header .flex-ed {
    display: block;
  }
}

@media (max-width: 1000px) {
  header address .address {
    display: none;
  }
  header .btn-alt {
    margin: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  header .flex-ed {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .phone {
    font-size: 24px;
  }
  #banner .flex-ed {
    display: block;
  }
  #banner figure img {
    display: block;
  }
  #banner .caption {
    width: auto;
    left: 50%;
  }
  #stamp {
    margin-bottom: 20px;
  }
  #banner {
    background-image: none;
    background-color: #ECF4FC;
  }
  h2, #practice h2 {
    text-align: center;
  }
  #lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list ul {
    max-width: 490px;
  }
  .border-box:before, .border-box:after {
    visibility: visible;
  }
  .border-box:after, .border-box:before {
    width: 50px;
    bottom: 20px;
  }
  .bkgrd {
    padding: 0;
  }
  #dentist {
    display: block;
    padding: 10px 0 0;
  }
  #dentist article {
    padding: 10px;
  }
  #dentist figure {
    margin: auto;
    max-width: 600px;
    padding: 10px 10px 0;
  }
  #reviews {
    padding: 0;
  }
  #review-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #google {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  #google p, #google p img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 10px;
  }
  #google > div {
    margin-top: 10px;
  }
  #patients {
    display: block;
  }
  #appts .flex-ed {
    display: block;
  }
  #appts figure {
    margin: 0;
  }
  #appts article {
    text-align: center;
  }
  footer #fo-contents {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .logo {
    margin-bottom: 20px;
  }
  footer #fo-contact {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  footer #fo-contact .forms {
    margin-top: 20px;
  }
}

@media (max-width: 790px) {
  header {
    padding: 0;
  }
  header .flex-ed {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
  }
  header .btn-alt, header address {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  header .address {
    display: none;
  }
  header .logo {
    width: 100%;
    margin: 10px 0;
    max-width: 100%;
  }
  .safe-bar span:last-of-type {
    display: block;
    font-size: 0;
  }
  .mobile-banner-reviews {
    display: block;
    background-color: #f3f3f3;
    text-transform: uppercase;
  }
  .mobile-banner-reviews img, .mobile-banner-reviews p {
    display: inline-block;
    vertical-align: middle;
  }
  .mobile-banner-reviews p {
    padding: 0 50px;
    font-weight: 700;
  }
  #banner .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #banner figure {
    margin: 0;
    padding-bottom: 0;
  }
  #banner figure img {
    margin: 0 auto;
    max-width: 100%;
  }
  #banner .extract {
    font-size: 22px;
    color: #064164;
    margin-bottom: 20px;
    display: block;
  }
  #banner .caption {
    font-size: 12px;
  }
  #lists {
    display: block;
    margin: 0 auto 20px;
  }
  .list {
    max-width: 750px;
    margin: 30px auto 20px;
  }
  .personalized {
    margin-top: -40px;
    border-radius: 0;
    margin: 0;
  }
  .personalized + .personalized {
    background-color: #151515;
  }
  .border-box:before, .border-box:after {
    height: 63%;
  }
  .split p, .comment, #practice p {
    text-align: center;
  }
  #dentist figure {
    margin-top: -20px;
  }
  #practice {
    padding-bottom: 20px;
  }
  #practice .flex-ed {
    display: block;
  }
  #practice .flex-ed > div {
    margin: 0 auto;
    right: 0;
  }
  #practice img {
    margin: 0 auto;
  }
  #practice .pager {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .personalized h1, .personalized h2 {
    font-size: 36px;
  }
  .looking {
    margin: 20px auto;
  }
  .looking p {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 1.45;
  }
  .looking p span {
    font-size: 24px;
  }
  .insurance {
    padding: 0;
  }
  #google > div {
    margin-top: 20px;
  }
  #google p {
    margin-bottom: 0;
  }
  #reviews {
    padding: 0;
  }
  .comment .caption2 {
    margin-top: 0;
  }
  #lp-appointment-form h1 {
    font-size: 36px;
  }
}

@media (max-width: 590px) {
  h2 {
    font-size: 36px;
    padding-top: 20px;
    margin: 0;
  }
  .safe-bar {
    letter-spacing: 0;
    font-size: 16px;
  }
  .safe-bar span {
    margin: 0;
  }
  .personalized {
    padding: 20px 10px;
  }
  .personalized .list {
    margin: 10px auto;
  }
  .list ul li {
    font-size: 24px;
  }
  .frame {
    max-width: 98%;
    margin: auto;
  }
  .frame iframe {
    display: none;
  }
  figcaption {
    margin-top: 0;
  }
  .copy {
    padding: 30px 10px 20px;
  }
  #appts .flex-ed {
    padding: 80px 15px;
  }
  #banner .flex-ed {
    padding: 40px 0 0;
  }
  #banner .caption {
    position: relative;
    width: 100%;
    left: auto;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    display: contents;
  }
  #banner .caption a {
    display: block;
    padding: 5px;
    margin: 0;
  }
  #banner .caption span {
    display: none;
  }
  footer #fo-info {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer #fo-info .social {
    margin-top: 30px;
  }
  footer #fo-info .social a {
    display: inline-block;
  }
  footer #fo-contact {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .personalized h1, .personalized h2 {
    font-size: 32px;
  }
  h2, footer h2 {
    font-size: 36px;
  }
  #practice .container {
    padding: 0;
  }
  .border-box:before, .border-box:after {
    display: none;
  }
  .bkgrd {
    padding-bottom: 25px;
  }
  .copy span:last-of-type {
    display: block;
    font-size: 0;
  }
}

@media (max-width: 400px) {
  header .btn-alt {
    font-size: 14px;
  }
  #banner h2 {
    font-size: 55px;
  }
  .mobile-banner-reviews p {
    padding: 0 30px;
    font-size: 16px;
  }
  .safe-bar {
    font-size: 15px;
  }
  .personalized {
    padding: 20px 10px;
  }
  .personalized p, .personalized figcaption p {
    font-size: 18px;
  }
  .personalized li {
    line-height: 1;
    padding-bottom: 5px;
  }
  .comment p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .comment .caption2 {
    font-size: 15px;
  }
  #dentist .caption {
    font-size: 14px;
  }
  h2 {
    font-size: 32px;
  }
  .insurance h2 {
    margin: 10px 0 -15px;
    padding: 10px 0 15px;
  }
  .insurance .flex-ed div {
    margin: 15px 18px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  #google p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=er-np-styles.css.map */